html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    position: absolute;
}

body, viewer {
    font: menu;
}

.calculation_history {
    width: 100%;
    height: 450px;
    background-color: powderblue;
    overflow: scroll;
}

.calculation {
    display: block;
    background-color: steelblue;
    color: white;
}

.controls {
    width: 100%;
    height: 150px;
    background-color: gold;
}
